- participants ||= tier.participants(@round)
- finished = @round.finished?

%tr{class: tier.name.downcase.underscore}
  %th Tier: #{tier.name}
  %th Points
  %th Played
- participants.sort_by(&:points).reverse.each.with_index do |participant, index|
  %tr
    - if finished
      %td.icon
        - if index == 0 || index == 1
          - if tier.admin?
            %span.glyphicon.glyphicon-star
          - else
            %span.glyphicon.glyphicon-arrow-up
    %td
      = link_to [@round, participant] do
        = "#{index + 1}.&nbsp;#{participant.player.display_name}".html_safe
    %td= participant.points
    - unless finished
      %td
        - if participant.games.unfinished.count == 0
          Done!
        - else
          %b
            #{participant.games.finished.count} of #{participant.games.count}
