- participants ||= tier.participants(@round)
- finished = @round.finished?

%tr{class: tier.name.downcase.underscore}
  %th(colspan=3) Tier: #{tier.name}

- participants.sort_by(&:score).reverse.each.with_index do |participant, index|
  %tr
    - if finished
      %td.icon
        - if index == 0 || index == 1
          - if tier.admin?
            %span.glyphicon.glyphicon-star
          - else
            %span.glyphicon.glyphicon-arrow-up
    %td= link_to "#{index + 1}. #{participant.player.display_name}", [@round, participant]
    %td= participant.score
    - unless finished
      %td
        - if participant.games.unfinished.count == 0
          Played all #{participant.games.count} games
        - else
          %b
            #{participant.games.finished.count} of #{participant.games.count} games played
