- if @round.in_progress?
  %h1 Round #{@round.id} - In Progress
  %h2 #{@round.games.unfinished.count} of #{@round.games.count} games to go
- else
  %h1 Round #{@round.id} - Finished!

  %h2 The results are in!

  - @round.tiers.order(:level).each do |tier|
    - names = tier.participants(@round).sort_by(&:score).reverse.first(2).map { |p| "<b>#{p.player.name}</b>" }.join(" and ").html_safe
    %p Congratz to #{names}, our top players in #{tier.name}!

%table.table.table-striped
  %tbody
    - @tiers.each do |tier, participants|
      = render tier, participants: participants
