
.row
  .col-md-1.col-sm-2.col-xs-5
    %img{src: @participant.player.image || default_avatar_image_path, width: 128}
  .col-md-1.col-sm-1.col-xs-1
  .col-md-9.col-sm-9.col-xs-7
    %h4= @participant.player.name
    %p Round ##{@round.round_number}
    %p #{pluralize(@games.unfinished.count, 'game')} left to play
    %p Score this round: #{@participant.points} points
%br
.row
  %table.table.table-striped.col-md-12
    %thead
      %tr{class: @participant.tier.name.downcase.underscore}
        %th(colspan="8") Tier #{@participant.tier.name}
    %tbody
      = render partial: 'games/finished', collection: @games.finished, as: :game, locals: { participant: @participant }

      - @games.unfinished.each do |game|
        %tr
          %td.game-score
            .me= @participant.player.name
            .score
              N/A&nbsp;-&nbsp;N/A
            .them= game.other_participant(@participant).player.name
