
.row
  .col-md-1.col-sm-2.col-xs-5
    %img{src: @participant.player.image || default_image_path, width: 128}
  .col-md-1.col-sm-1.col-xs-1
  .col-md-9.col-sm-9.col-xs-7
    %h4= @participant.player.name
    %p Round ##{@round.round_number}
    %p #{pluralize(@games.unfinished.count, 'game')} left to play
    %p Score this round: #{@participant.points} points
%br
.row
  %table.table.table-striped.col-md-12
    %thead
      %tr{class: @participant.tier.name.downcase.underscore}
        %th(colspan="8") Tier #{@participant.tier.name}
    %tbody
      - @games.finished.each do |game|
        - other = game.other_participant(@participant)
        %tr
          %td.game-score
            = form_for game do |f|
              .me
                - if game.winner == @participant
                  %b
                    = @participant.player.name
                - else
                  = @participant.player.name
              .score
                #{game.score_for(@participant)}&nbsp;-&nbsp;#{game.score_for(other)}
              .them
                - if game.winner == other
                  %b
                    = other.player.name
                - else
                  = other.player.name


      - @games.unfinished.each do |game|
        %tr
          %td.game-score
            .me= @participant.player.name
            .score
              N/A&nbsp;-&nbsp;N/A
            .them= game.other_participant(@participant).player.name
