- other = game.other_participant(participant)
- verbose = defined?(verbose) && verbose
%tr
  %td.game-score
    = form_for game do |f|
      .me{class: game.winner == participant && 'winner'}
        = link_to participant.player do
          = participant.player.name
          - if verbose && game.elo_rating_in(participant)
            (#{elo game.elo_rating_in(participant)})
      .score
        #{game.score_for(participant)}&nbsp;-&nbsp;#{game.score_for(other)}
      .them{class: game.winner == other && 'winner'}
        = link_to other.player do
          = other.player.name
          - if verbose && game.elo_rating_in(other)
            (#{elo game.elo_rating_in(other)})

  - if verbose
    %td.round
      - if game.round.public
        = link_to "Round #{game.round.round_number}", game.round
      - else
        = link_to '1-vs-1', game.round
    %td.rating
      = link_to game do
        = elo game.elo_rating_out(participant)
        - if game.winner == participant
          = up_arrow
        - else
          = down_arrow
    %td.gain
      - if game.elo_rating1_in
        = with_sign elo (game.elo_rating_out(participant) - game.elo_rating_in(participant))
    %td.date
      = game.finished_at.to_s(:short)
