#new-game-form.row
  .col-md-12(style="text-align:center")
    = form_for @game do |f|
      = f.hidden_field :player2_id, value: @player2.id

      .form-group
        = f.label :score1, "#{current_user.name} (#{elo current_user.elo_rating})"

      .form-group
        = f.text_field :score1, width: 3, style: "width:3em", type: 'number'

      .form-group
        vs

      .form-group
        = f.text_field :score2, width: 3, style: "width:3em", type: 'number'

      .form-group
        %label.control-label= "#{@player2.name} (#{elo @player2.elo_rating})"

      .form-group
        %a.btn.btn-danger(href="/" data-confirm="are you sure?") Cancel
        = f.submit 'Save', class: 'btn btn-default btn-primary'
