- p1 = @game.participant1
- p2 = @game.participant2
- diff1 = @game.elo_rating1_out - @game.elo_rating1_in
- diff2 = @game.elo_rating2_out - @game.elo_rating2_in

.scores(style="text-align:center")
  %h2
    - if @game.score1 > @game.score2
      #{p1.player.name} wins!
      %br
      #{@game.score1} - #{@game.score2}
    - else
      #{p2.player.name} wins!
      %br
      #{@game.score2} - #{@game.score1}

  %h3
    #{p1.player.name}:
    = elo @game.elo_rating1_in
    = arrow(diff1)
    = elo @game.elo_rating1_out
    (#{with_sign diff1})
  %h4 vs
  %h3
    #{p2.player.name}:
    =elo @game.elo_rating2_in
    = arrow(diff2)
    =elo @game.elo_rating2_out
    (#{with_sign diff2})

  In: #{link_to round_name(@game.round), @game.round}
  On: #{@game.finished_at.to_s(:short)}
